:root {
   --primary-lighten-5:  #e0f2f1;
   --primary-lighten-4:#b2dfdb;   
   --primary-lighten-3:#80cbc4;
   --primary-lighten-2:#4db6ac;  
   --primary-lighten-1:#26a69a; 
   --primary:#009688 ;
   --primary-darken-1:#00897b   ;
   --primary-darken-2:#00796b  ;
   --primary-darken-3:#00695c   ; 
   --primary-darken-4:#004d40 ;
   --primary-accent-1:#a7ffeb;
   --primary-accent-2:#64ffda ; 
   --primary-accent-3:#1de9b6 ;
   --primary-accent-4:#00bfa5;
}

.bg-lighten-1{
    background: var(--primary-lighten-1);
}


html, 
body {
    height:100vh;
    background: url("../images/gravel.png");
    background-repeat: repeat;
}
header,#mainsection,.footer-fluid{
    background: white;
}

#name{
    background-color: var(--primary);
    /* margin-bottom: 0; */
}

main{
    min-height: calc(100vh - 130px);
}
.footer-fluid{
    height: 40px;
}

.nav-pills > .nav-item > .nav-link.active:hover,.nav-link:hover {
    background: var(--primary-lighten-4);
}
.nav-pills > .nav-item > .nav-link.active, .nav-pills > .nav-item > .nav-link.active:hover {
    background:var(--primary-lighten-2);
}


.portimgbadge{
    bottom: 10%;
    font-size: 1.2rem;
    padding: 0.5rem 0;
}
